<mat-card class="cartao">
  <h2>Meu Portfolio</h2>
  <button mat-raised-button color="primary" (click)="novo()">
    <mat-icon>add_circle_outline</mat-icon> Novo
  </button>
</mat-card>
<mat-card class="cartao">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Estrategia</th>
        <th scope="col">Conta</th>
        <th scope="col">Tipo</th>
        <th scope="col">Dt. Inicio</th>
        <th scope="col">Dt. Fim</th>
        <th scope="col">Qtd. Inicio</th>
        <th scope="col">Vl. Inicio</th>
        <th scope="col">Qtd. Fim</th>
        <th scope="col">Vl. Fim</th>
        <th scope="col">Lucro</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let operacao of operacoes">
        <td>{{ operacao.estrategia }}</td>
        <td>{{ operacao.conta }}</td>
        <td>{{ operacao.tipo }}</td>
        <td>{{ operacao.dt_inicio | date: "dd/MM/yyyy" }}</td>
        <td>{{ operacao.dt_fim }}</td>
        <td>{{ operacao.qtd_inicio }}</td>
        <td>{{ operacao.vl_inicio }}</td>
        <td>{{ operacao.qtd_fim }}</td>
        <td>{{ operacao.vl_fim }}</td>
        <td>{{ operacao.total_fim - operacao.total_inicio }}</td>
        <td class="direita">
          <button mat-raised-button (click)="edit(operacao)">
            <mat-icon>edit</mat-icon></button
          >&nbsp;<button mat-raised-button (click)="delete(operacao.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <!-- <td><button mat-raised-button (click)="delete(operacao.id)" ><mat-icon>delete</mat-icon></button></td> -->
      </tr>
    </tbody>
  </table>
</mat-card>
