<mat-card class="cartao">
  <span id="titulo">Meus Investimentos</span>
  <button type="button" (click)="novo()" class="btn btn-primary btn-sm">
    <!-- <mat-icon aria-hidden="false" >note_add</mat-icon> -->
    Novo
  </button>
</mat-card>
<mat-card>
  <table class="table">
    <thead>
      <tr>        
        <th scope="col">Estrategia</th>
        <th scope="col">Conta</th>
        <th scope="col">Tipo</th>
        <th scope="col">Dt. Inicio</th>
        <th scope="col">Qtd. Inicio</th>
        <th scope="col">Vl. Inicio</th>
        <th scope="col">Total Inicio</th>
        <th scope="col">Dt. Fim</th>
        <th scope="col">Qtd. Fim</th>
        <th scope="col">Vl. Fim</th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let operacao of operacoes" >                        
        <td>{{operacao.estrategia}}</td>
        <td>{{operacao.conta}}</td>
        <td>{{operacao.tipo}}</td>
        <td>{{operacao.dt_inicio | date:'dd/MM/yyyy' }}</td>
        <td>{{operacao.qtd_inicio}}</td>
        <td>{{operacao.vl_inicio}}</td>
        <td> {{operacao.total}} </td>
        <td>{{operacao.dt_fim}}</td>
        <td>{{operacao.qtd_fim}}</td>
        <td>{{operacao.vl_fim}}</td>        
      </tr>
    </tbody>
  </table>
</mat-card>
