<h1>Editar Estratégia</h1>
<form [formGroup]="formulario">
  <mat-dialog-content>
    <p>
      <mat-form-field appearance="outline">
        <mat-label class="required">Nome</mat-label>
        <input
          matInput
          formControlName="nome"
          oninput="this.value = this.value.toUpperCase()"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label class="required">Detalhes</mat-label>
        <textarea
          matInput
          placeholder="Detalhes"
          formControlName="detalhes"
        ></textarea>
      </mat-form-field>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="update()"
      [disabled]="!validForm"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >save</mat-icon
      >
      Salvar
    </button>
  </mat-dialog-actions>
</form>
