<mat-card class="cartao">  
  <mat-card-content>
    <h2>Tipos</h2>
    <form [formGroup]="formulario">
      <p>
        <mat-form-field appearance="outline">
          <mat-label >Nome*</mat-label>
          <input
            matInput
            formControlName="nome"
            oninput="this.value = this.value.toUpperCase()"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label >Detalhes</mat-label>
          <textarea
            matInput
            placeholder="Detalhes"
            formControlName="detalhes"
          ></textarea>
        </mat-form-field>
      </p>
      <p>
        <button
          mat-raised-button
          color="primary"
          (click)="save()"
          [disabled]="!validForm"
        >
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >save</mat-icon
          >
          Salvar
        </button>
      </p>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="cartao">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th ></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tipo of tipos">
        <td>{{ tipo.nome }}</td>
        <td class="direita">
          <button mat-raised-button (click)="edit(tipo)">
            <mat-icon>edit</mat-icon></button
          >&nbsp;<button mat-raised-button (click)="delete(tipo.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>
