<h1>Nova Operação</h1>
<form [formGroup]="formulario">
  <mat-dialog-content>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Estrategia*</mat-label>
        <mat-select formControlName="estrategia" >
          <mat-option > - </mat-option>                              
          <mat-option *ngFor="let estrategia of estrategias" [value]="estrategia.nome">
            {{estrategia.nome}}
          </mat-option>          
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Conta*</mat-label>
        <mat-select formControlName="conta">
          <mat-option > - </mat-option>  
          <mat-option *ngFor="let conta of contas" [value]="conta.nome" >
            {{conta.nome}}
          </mat-option>          
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tipo*</mat-label>
        <mat-select formControlName="tipo">
          <mat-option > - </mat-option>  
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.nome" >
            {{tipo.nome}}
          </mat-option>   
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="vencimento">
        <mat-label>Data de Vencimento da Opção</mat-label>
        <input matInput [matDatepicker]="pickerV" formControlName="dt_vencimento" />
        <mat-datepicker-toggle matSuffix [for]="pickerV"></mat-datepicker-toggle>
        <mat-datepicker #pickerV></mat-datepicker>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Data Inicio*</mat-label>
        <input matInput [matDatepicker]="picker" (dateChange)="alterDate()" formControlName="dt_inicio" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Valor Incial*</mat-label>
        <input matInput formControlName="vl_inicio" type="number" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Qtd. Incial*</mat-label>
        <input matInput formControlName="qtd_inicio" type="number" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Data Final</mat-label>
        <input matInput [matDatepicker]="pickerF" formControlName="dt_fim" [min]="data_inicio" />
        <mat-datepicker-toggle matSuffix [for]="pickerF"></mat-datepicker-toggle>
        <mat-datepicker #pickerF></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Valor Final</mat-label>
        <input matInput formControlName="vl_fim" type="number" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Qtd Final</mat-label>
        <input matInput formControlName="qtd_fim" type="number" (input)="maxValue()" />
      </mat-form-field>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!validForm" >
        <mat-icon aria-hidden="false" aria-label="Example home icon">save</mat-icon>
        Salvar
    </button>
  </mat-dialog-actions>
</form>
